version: "3.8"

services:

    dynamodb-local:
        build: .
        container_name: dynamodb-local
        user: root
        working_dir: /home/dynamodblocal
        environment:
            AWS_ACCESS_KEY_ID: local
            AWS_SECRET_ACCESS_KEY: local
            AWS_DEFAULT_REGION: "us-west-2"
            AWS_PAGER: ""
        volumes:
            - ./dbdata:/home/dynamodblocal/data
        ports:
        - "8000:8000"
        entrypoint: ["/bin/sh", "-c"]
        command: >
            "java -jar DynamoDBLocal.jar -sharedDb -dbPath ./data &
            sleep 3 &&
            python3 ./scripts_tables/create_tables.py &&
            python3 ./scripts_tables/populate_tables.py &&
            wait"

    dynamodb-admin:
        image: aaronshaf/dynamodb-admin
        container_name: dynamodb-admin
        environment:
            DYNAMO_ENDPOINT: "http://dynamodb-local:8000"
            AWS_REGION: "us-west-2"
            AWS_ACCESS_KEY_ID: local
            AWS_SECRET_ACCESS_KEY: local
            AWS_DEFAULT_REGION: "us-west-2"
            AWS_PAGER: ""
        depends_on:
            - dynamodb-local
        ports:
            - "8001:8001"

volumes:
    dbdata:
